
.title {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: goldenrod;}

.square{background-color: rgba(240, 230, 140, 0);
width: 700px;
height: 600px;
border-radius: 40px;}
