
.title {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: goldenrod;}
body{
  min-height: 800px;
  border: 8px;
  display:flex;
  justify-content: center;
  align-items: center;

}
.box{
  height: 10000px;
  width: 10000px;
  color: antiquewhite;
}
.square{background-color: rgba(204, 203, 195, 0);
width: 700px;
height: 600px;
border-radius: 40px;}
